@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

:root {
  --bold-blue: #437FC8;
  --main-blue: #1FA4AC;
  --main-red: #D60B0B;
  --main-text-color: #1E1E1E;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

body {
  font-family: "Gilroy", serif;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
textarea,
select {
  border: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .1s;
}

a:hover {
  color: var(--main-blue);
}

ul {
  list-style: none;
}

ol,
ul {
  padding-left: 0;
}

.routes {
  display: flex;
  gap: 5px;
  font-size: 14px;
  padding-bottom: 20px;
}

.routes__item.link {
  cursor: pointer;
  transition: .1s;
}

.routes__item.link:hover {
  color: var(--main-blue)
}

.routes__item.active {
  font-weight: bold;
}

.category-title {
  font-size: 30px;
  font-weight: 400;
}

.main-btn,
.products__item-buybtn {
  border-radius: 30px;
  background-color: var(--main-red);
  color: #fff;
  border: 2px solid var(--main-red) !important;
  transition: .3s;
}

.main-btn:hover,
.products__item-buybtn:hover {
  background-color: #fff !important;
  color: var(--main-red);
  transform: scale(1.02);
}

.main-btn:active,
.products__item-buybtn:active {
  background-color: var(--main-red) !important;
  color: #fff !important;
  transform: scale(.97);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1380px;
  padding: 0 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  font-size: 40px;
  color: var(--main-blue);
  text-align: center;
  font-weight: 600;
  padding-bottom: 30px;
}

.slider .swiper-slide {
  width: 100% !important;
}

.text-gray {
  color: var(--main-text-color);
}

.text-blue {
  color: var(--main-blue);
}

.text-red {
  color: var(--main-red);
}

.font-semibold {
  font-weight: 600;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.default-shadow {
  padding: 13px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
}

.header {
  position: relative;
  z-index: 10;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__top-location i {
  color: var(--bold-blue);
}

.header__top-links {
  display: flex;
  gap: 31px;
}

.header__top-link {
  transition: .3s;
}

.header__top-link:hover {
  color: var(--main-blue);
}

.header__main {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.header__main-logo-img {
  width: 100%;
}

.header__main-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.header__main-contact {
  display: flex;
  flex-direction: column;
}

.header__main-search {
  width: 50%;
  display: flex;
}

.header__main-input {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #E5E5E5;
  padding: 0 22px;
}

.header__main-btn {
  min-width: max-content;
  padding: 10px 17px;
  background-color: var(--main-red);
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.header__main-btn i {
  font-size: 17px;
}

.header__main-linkbtn i {
  font-size: 25px;
}

.header__main-linkbtn {
  position: relative;
  color: var(--main-text-color);
  text-align: center;
}

.header__main-linkbtn.on-mobile {
  color: var(--main-red)
}

.header__main-worktime {
  width: max-content;
  padding-top: 8px;
}

.header__cart-num {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: var(--main-blue);
  font-size: 8px;
  color: #fff;
  border-radius: 50%;
  padding: 2px 4.5px;
  height: 11px;
  width: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__links {
  display: flex;
  align-items: center;
  gap: 63px;
  padding-top: 26px;
  padding-bottom: 41px;
  position: relative;
  z-index: 20;
}

.header__links-openbtn {
  background-color: var(--main-red);
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__links-openbtn i {
  font-size: 25px;
}

.header__links-wrapper {
  display: flex;
  gap: 33px
}

.header__mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.63);
  transition: .3s;
  z-index: 10;
}

.header__mobile.closed {
  background-color: transparent;
  pointer-events: none;
}

.header__mobile-wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  transition: .5s;
  overflow-y: auto;
}

.header__mobile-sublinks {
  padding: 0 44px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__mobile-sublinks li::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}

.header__mobile.closed .header__mobile-wrapper {
  right: -100%;
}

.header__mobile-close {
  color: var(--main-red);
  font-size: 35px;
  display: block;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 10px;
}

.header__mobile-links {
  display: flex;
  flex-direction: column;
}

.header__mobile-link {
  display: flex;
  justify-content: space-between;
  padding: 15px 19px;
  border-top: 1px solid #E5E5E5;
  align-items: center;
}

a.header__mobile-link:last-of-type {
  flex-direction: column;
  align-items: flex-start;
}

.header__mobile-link:last-of-type a {
  margin-bottom: 5.7px;
}

.header__mobile-link i {
  font-size: 20px;
  transition: .3s;
}

.header__mobile-link i.bi-arrow-right.active {
  transform: rotate(90deg);
}

.header__mobile-sublinks-wrapper {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.header__mobile-link-starter {
  display: flex;
  align-items: center;
  gap: 10px
}

.header__links-all-sublinks {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  top: 95px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.header__links-sublinks>div {
  padding: 0;
}

.header__links-sublinks>div:first-of-type {
  box-shadow: 0px 0px 5px 0px #d0d0d0;
}

.header__links-sublinks {
  width: 100%;
  background-color: #fff;
  margin-left: -1px;
  gap: 10px;
}

.header__links-shape {
  position: absolute;
  width: 184px;
  height: 30px;
  background-color: transparent;
  top: 68px;
  left: 0;
  z-index: 20;
}

.header__links-sublink {
  padding: 10px 29px;
  transition: .3s;
  cursor: pointer;
}

b.header__links-sublink {
  display: block;
}

.header__links-main-sublinks .header__links-sublink.active,
.header__links-main-sublinks .header__links-sublink:hover,
.header__links-main-sublinks .header__links-sublink a:hover {
  background-color: #CCEBED;
  color: #000
}

.header__links-openbtn:hover~.header__links-all-sublinks,
.header__links-shape:hover~.header__links-all-sublinks,
.header__links-all-sublinks:hover {
  opacity: 1;
  pointer-events: auto;
  top: 90px;
}



.footer {
  background: #42494E;
  color: #fff;
  padding: 52px 0 27px;
  margin-top: 100px;
}

.footer__linkcards {
  display: flex;
  justify-content: space-between;
}

.footer__linkcard {
  display: flex;
  flex-direction: column;
}

.footer__linkcard-logo {
  padding-bottom: 23.5px;
}

.footer__linkcard-contact:first-of-type {
  padding-bottom: 13px;
}

.footer__linkcard:not(.footer__linkcard:first-of-type) {
  gap: 10px;
}

.footer__linkcard-contactbtn {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 12px 25px;
  margin-top: 2px;
  margin-bottom: 7px;
}

.footer__linkcard-social {
  display: flex;
  gap: 10px;
}

.footer__linkcard-social a {
  transition: .2s;
}

.footer__linkcard-social a:hover {
  transform: scale(1.03) rotate(720deg);
}

.footer__copyright-text {
  text-align: center;
  margin-top: 61px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__modal-content {
  padding: 20px 30px 20px;
}

.footer__modal-content .main-btn {
  padding: 6px;
}

.footer__modal-close {
  top: 10px;
  position: absolute;
  right: 10px;
}

.on-mobile {
  display: none;
}

.products {
  overflow: hidden;
  position: relative;
}

.products__list {
  display: flex;
  padding: 10px;
  transition: .5s;
}

.products__item {
  padding: 21px 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0px #d2d2d2;
  /* width: 275px; */
  cursor: pointer;
  transition: .5s;
}

.products__item:hover {
  box-shadow: 0px 0px 10px 0px #d2d2d2;
}

.products__item:hover .products__item-name {
  color: var(--main-blue);
}

.products__item-img {
  width: 100%;
  height: 230px;
  object-fit: contain;
}

.products__item-name {
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: .3s;
}

.products__item-prices {
  display: flex;
  align-items: center;
  gap: 20px;
}

.products__item-price {
  font-size: 20px;
  font-weight: 600;
}

.products__item-nodiscount {
  color: #6E6E6E;
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
}

.products__item-actions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.products__item-buybtn {
  padding: 7.5px 34px;
  background: var(--main-red);
  border-radius: 30px;
  color: #fff
}

.products__item-actionbtn {
  color: #999;
  font-size: 25px;
}

.products__movebtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  padding: 4px 8px;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  border-radius: 50%;
  z-index: 5;
  background-color: #fff;
}

.products__movebtn#products-moveleft {
  left: 20px;
  right: initial;
}

.products__price {
  font-size: 30px;
  color: #404040;
}

.product__qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__qty button {
  font-size: 25px;
}

.product__qty-num {
  width: 47px;
  height: 47px;
  padding: 10px;
  text-align: center;
  border: 1px solid #D4D4D4;
  border-radius: 50%;
}

.radio-wrapper input {
  display: none;
}

.radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #999999;
  display: block;
  border-radius: 50%;
}

.radio-label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 11px;
  height: 11px;
  background-color: var(--main-red);
  display: block;
  border-radius: 50%;
  display: none;
}

.radio-wrapper input:checked+.radio-label:after {
  display: block;
}

.contact-label {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-label.last {
  width: 100%;
}

.contact-label span {
  color: #999999;
  font-size: 14px;
}

.contact-input {
  padding: 13px 18px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-size: 16px;
}

.contact-textarea {
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 100%;
  height: 97px;
  padding: 13px 18px;
  font-family: inherit;
}

.modal-content-element {
  display: flex;
  padding: 10px 0;
  gap: 15px;
  align-items: center;
}

.header .modal-content {
  max-height: 90vh;
  overflow: hidden;
}

.header .modal-content>.row {
  max-height: 90vh;
  overflow: scroll;
  background: #fff;
}

@media (max-width: 1200px) {
  .header__main-contact {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header__link {
    display: none;
  }

  .header__link:first-of-type,
  .header__link:nth-of-type(2) {
    display: block;
  }

  .header__main-logo {
    width: 300px;
  }

  .header__main {
    gap: 30px
  }

  .footer__linkcards {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .footer__linkcard:last-of-type {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .routes {
    padding-top: 20px;
  }

  .header__main {
    flex-wrap: wrap;
    align-items: center;
  }

  .header__main-search {
    order: 1;
    width: 100%;
  }

  .header__main-linkbtn {
    font-size: 25px;
  }

  .header__main-linkbtn.on-mobile {
    display: block;
  }

  .header__main-linkbtn span,
  .header__links {
    display: none;
  }

  .header__main-details {
    gap: 15px
  }

  .header__mobile {
    display: flex;
  }

  .section__title {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .routes__item:not(.active) {
    display: none;
  }

  .routes__item.active:before {
    content: "\f12f";
    padding-right: 10px;
    font-size: 18px;
    color: var(--main-blue);
  }

  .products__item-img {
    height: 160px;
    width: 40%;
  }

  .products__item-details {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .header__main-logo {
    width: 55%;
  }

  .header__main-details {
    max-width: 40%;
  }

  .header__main-linkbtn i {
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  .header__top {
    display: none;
  }

  .footer__linkcard:last-of-type {
    width: 100%;
    align-items: flex-start;
  }

  .footer__linkcard-logo {
    width: 80%;
  }

  .contact-label {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .products__item-buybtn {
    padding: 8px 20px;
  }

  .products__item-actionbtn {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .header__main-logo {
    width: 48%;
  }

  .header__main-linkbtn i {
    font-size: 18px;
  }
}